{% extends 'main_base.html' %}

{% block content %}

<div style="padding:30px; font-family:Arial;">

    <h1>Manage Announcements</h1>

    <br>

    <a href="{% url 'dashboard:admin_dashboard' %}">
        ← Back to Admin Dashboard
    </a>

    <hr>

    {% for announcement in announcements %}

        <div style="padding:15px; border:1px solid #ccc; margin-bottom:15px;">

            <h3>{{ announcement.title }}</h3>

            <p>{{ announcement.content }}</p>

        </div>

    {% empty %}

        <p>No announcements available.</p>

    {% endfor %}

</div>

{% endblock %}